@{
  Layout = "_Layout";
}


@model PierresSweetAndSavoryTreats.Models.Flavor

<div class="main">
  <p>Select a treat in the dropdown list below to add to this flavor.</p>
  <div class="row">
    <div class="col-5">
      @if(@ViewBag.TreatsList.Count == 0)
      {
        <p class="text-danger">It appears the list of treats is empty. Add to the list of treats before attempting to assign it to a flavor.</p>
        <p>@Html.ActionLink("Add a Treat to Database", "Create", "Treats")</p>
      }
      else
      {
        @using (Html.BeginForm())
        {
          @Html.HiddenFor(entry => entry.FlavorId)
          @Html.Label("Select treat")
          @Html.DropDownList("TreatId")
          <input type="submit" value="Add Treat to Flavor"/>
        }
      }
    </div>
  </div>
</div>
<hr/>
<p>@Html.ActionLink("Back to Details", "Details", new { id = Model.FlavorId })</p>