@{
  Layout = "_Layout";
}

@using PierresSweetAndSavoryTreats.Models;
@model PierresSweetAndSavoryTreats.Models.Flavor;

<div class="subheader bg">
  <h4>Pierre's Flavors > Edit</h4>
</div>
<br/>

<div class="main">
  <p>Edit the details below and click Save to keep changes.<p>
  <p>@Html.ValidationMessageFor(entry => entry.Name, "", new { @class = "text-danger", @style = "font-weight: 600;" })</p>  

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(entry => entry.FlavorId)
    <p>@Html.LabelFor(entry => entry.Name) @Html.EditorFor(entry => entry.Name) <input type="submit" value="Save"/></p>
  }
</div>

<hr/>
<p>@Html.ActionLink("Back to Flavor Tag Details", "Details", new { id = Model.FlavorId })</p>