@{
  Layout = "_Layout";
}

@model PierresSweetAndSavoryTreats.Models.Treat;

<div class="subheader bg">
  <h4>Pierre's Treats > Add Flavor</h4>
</div>
<br/>

<div class="main">
  <p>Select a flavor name in the dropdown list below to add to this treat.</p>
  <div class="row">
    <div class="col-5">
      @if(@ViewBag.FlavorsList.Count == 0)
      {
        <p class="text-danger">It appears the list of flavor names is empty. Add to the list of flavor tags before attempting to assign it to a treat.</p>
        <p>@Html.ActionLink("Add a Flavor Tag to Database", "Create", "Flavors")</p>
      }
      else
      {
        @using (Html.BeginForm())
        {
          @Html.HiddenFor(entry => entry.TreatId)
          @Html.Label("Select flavor")
          @Html.DropDownList("FlavorId")
          <input type="submit" value="Add Flavor Tag to Treat"/>
        }
      }
    </div>
  </div>
</div>  
<hr/>
<p>@Html.ActionLink("Back to Details", "Details", new { id = Model.TreatId })</p>