@{
  Layout = "_Layout";
}

@using PierresSweetAndSavoryTreats.Models;
@model PierresSweetAndSavoryTreats.Models.Treat;

<div class="subheader bg">
  <h4>Pierre's Treats</h4>
</div>
<br/>

<div class="main">
  <div class="row">
    <div class="col-5">
      <h4>Treat</h4>
      <p><strong>@Html.DisplayNameFor(chosenTreat => chosenTreat.Name)</strong>: @Html.DisplayFor(chosenTreat => chosenTreat.Name)</p>
    </div>
    <div class="col-7">
      <h4>Flavor Tags</h4>
      @if(@Model.JoinEntities.Count == 0)
      {
        <p>This treat currently does not have any flavor tags.</p>
      }
      else
      {
        <ul>
          @foreach(TreatFlavor joinEntry in Model.JoinEntities)
          {
            <li>@joinEntry.Flavor.Name
            @using(Html.BeginForm("DeleteJoin", "Treats"))
            {
              @Html.Hidden("joinId", @joinEntry.TreatFlavorId)
              <input type="submit" value="Remove"/>
            }
            </li>
          }
        </ul>
      }
    </div>
  </div>
</div>  
<hr/>

<p>@Html.ActionLink("Add Flavor Tags", "AddFlavorTag", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Edit Treat Details", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete Treat Entry", "Delete", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Back to Treats List", "Index")</p>